body, html {
font-family: sans-serif;
margin:0px;
padding: 0px;
height: 100vh;
color: white;

}

.cover-container {
    height: 100vh;
}

.bg-cover{
    background-image: url(images/background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

h5 {
    color:white;
    text-align: center;
}

h1{
    font-weight: bold;
    color: white;
}

/* --Home content--*/

.navbar-home{
background: rgba(0, 0, 0, 0.2) !important;
    position: absolute;
    left: 0;
    right: 0;
}
.navbar-seperator:before {
    position: absolute;
    content: "";
    top: 10px;
    bottom: 10px;
    left: 0;
    width: 2px;
    background: rgba(255, 255, 255, 0.05);
}

.navbar-seperator {
    position: relative;
    margin-left: 20px;
    padding-left: 20px;
}



.cover{
    background-image: url(images/rosepetals.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.cover .btn, .btn-primary-profil, .btn-secondary-profil {
    border-radius: 40px;
    padding: 20px 30px;
    font-size: 14px;
    letter-spacing: .1em;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer; 
}
.cover .btn:hover, .cover .btn:active, .cover .btn:focus, .btn-primary-profil, .btn-secondary-profil {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none; 
}

.cover .btn.btn-primary, .btn-primary-profil {
    background: #28CC9E;
    border-color: #28CC9E;
    color: #fff; 
}

.body-change {
    background-color: #fff;
    }
.cover .btn.btn-primary:hover, .cover .btn.btn-primary:focus, .cover .btn.btn-primary:active {
    background: #4bdcb3; 
    }

.cover .btn.btn-outline-white {
    border-color: #fff;
    background: none; 
}

.cover .btn.btn-outline-white:hover, .cover .btn.btn-outline-white:focus, .cover .btn.btn-outline-white:active {
    background: #fff;
    font-family: sans-serif;
    line-height: 1.7;
    color: #6f6f6f;
    margin:0px;
    padding: 0px; 
    
    }


/* Gallery */
    
.square {
    position: relative;
    width: 100%;
    margin-bottom:2px;
    }
      
    .square:after {
    content: "";
    display: block;
    padding-bottom: 100%;
    }
      
      .content {
        position: absolute;
        width: 100%;
        height: 100%;
        top:0;
        left:0;
        padding:0px;
      }
      
      .content img{
          object-fit: cover;
      }
    

      .flex-item {
        justify-content: center;
      }

.overlay {
    display:block;
    position:absolute;
    right:0;
    background:#000;
    background:rgba(0, 0, 0, 0.6);
    color:#FFF;
    padding:10px 5px;
}

/* profil user */

.profil-user{
    margin-top: 21px;
}

ul, li{
    list-style: none;
}

/* login and signup */

@media screen and (max-width: 960px){
.navbar-home {
    background: #000 !important;
    top: 0;
    position: relative;
    }
}

.login-form {
    background: rgba(14, 14, 14, 0.54);
    border: 1px solid #fff;
}

.signup-form {
    background: rgba(14, 14, 14, 0.54);
    border: 1px solid #fff;
}

.add-dog {
    background: rgba(14, 14, 14, 0.54);
    border: 1px solid #fff;
}

.add-article {
    background: rgba(14, 14, 14, 0.54);
    border: 1px solid #fff;
}

/* profil chien */

.img-fluid {
    background: rgba(14, 14, 14, 0.54);
    border: 1px solid #fff;
}

#newArticle {
    background: rgba(14, 14, 14, 0.54);
    border: 1px solid #fff;
}

.list-group {
    background: rgba(14, 14, 14, 0.54);
    border: 1px solid #fff;
}

.addArticle{
    margin: 20px;
}

.preview-article{
    border: 2px white;
    background: rgba(14, 14, 14, 0.54);
    color: white;
}